body {
  padding-top: 70px;
}

.navbar-default .navbar-brand {
  color: #202020;
}

.navbar-fixed-top {
  padding: 20px 0px;
  height: 90px;
  border: none;  
}

.navbar-fixed-top.slim {
  padding: 8px 0px;
  height: 60px;
}

.nav .active {
  background: none;
}


h1, h2, h3 {
  margin-top: 10px;
  color: #74b73f;
}

.hero {
  background: url(../img/jean-cocteau-museum-menton.png) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 12em; 
  margin-bottom: 1em;
  height: 42em;
  width: 100%;
}

.hero h1 {
  color: white;
  font-size: 5em;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
}

.some-buttons table {
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.some-buttons td:nth-child(1) {
  padding-top: 5px;
}

.some-buttons td:nth-child(2) {
  padding-top: 5px;
} 

body.releases > .container {
  margin-top: 3em;
}

#footer {
  /*background: #f8f8f8;*/
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;	
}

@media (max-width: 768px) {
  .hero {
    font-size: 60%;
  }

  .navbar-fixed-top {
    padding: 8px 0px;
    height: auto;
  }
}
